/* ===============================================================
 * Common Knowledge Coding Challenge
 * Author:  Cemal Okten
 * Github: https://github.com/cemalokten/
 * Language: CSS
================================================================== */

:root {
  --color: rgb(0, 0, 80);
  --bg: rgb(240, 240, 240);
  --valid: rgb(204, 255, 215);
  --invalid: rgb(255, 204, 204);
  --font-size: 1rem;
}

@font-face {
  font-family: 'Apercu Regular';
  src: url('./fonts/ApercuPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Bold';
  src: url('./fonts/ApercuPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Medium';
  src: url('./fonts/ApercuPro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Apercu Medium', monospace;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

h1 {
  font-size: 1.3rem;
  font-weight: normal;
  font-family: 'Apercu Bold';
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h2 {
  font-size: var(--font-size);
  font-weight: normal;
  margin-bottom: 1em;
}

p {
  font-family: 'Apercu Medium';
  font-size: 1.1rem;
}

p:last-of-type {
  margin-top: 1rem;
}

.flex {
  display: flex;
}

.flex--center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.flex--row {
  flex-direction: row;
}

.box {
  padding: 0em 2em 2em 2em;
  width: 95vw;
}

.margin--top {
  margin-top: 1em;
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='tel'] {
  margin-bottom: 2em;
  padding: 0.3em 0em 0.4em 0.5em;
  height: 3.2rem;
  width: 100%;
  font-family: 'Apercu Regular';
  font-size: var(--font-size);
  color: rgb(2, 0, 116);
  border-radius: 0.4em;
  border: 0px solid rgb(0, 0, 0);
  transition: background 0.5s ease-out;
}

.check--1 {
  padding-bottom: 1.1rem;
  padding-left: 1.75rem;
}

.check--2 {
  padding-bottom: 1.1rem;
  padding-left: 1.2rem;
}

input:required:valid {
  box-shadow: inset 0 0 1em var(--valid);
  outline: none;
}

input:required:focus:valid {
  box-shadow: inset 0 0 1em var(--valid);
  outline: none;
}

input:invalid {
  outline: none;
}

input:focus:invalid {
  box-shadow: inset 0 0 1em var(--invalid);
  outline: none;
}

button {
  color: var(--color);
  background-color: white;
  font-size: var(--font-size);
  margin: 0;
  height: 3.2rem;
  padding: 0.3rem;
  border-radius: 0.6em;
  border-width: 0;
  font-family: 'Apercu Medium';
}

button:hover {
  box-shadow: inset 0 0 1em #ccffd7;
}

.blur {
  filter: blur(2rem);
}

@media (min-width: 800px) {
  body {
    padding-top: 5rem;
  }

  .box {
    padding: 0em 2em 2em 2em;
    border-radius: 0em;
    width: 60vw;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  input[type='text'],
  input[type='email'],
  input[type='date'],
  input[type='tel'] {
    font-size: 1.3rem;
  }
}
